$font-fam-1: "Montserrat", sans-serif;
$font-fam-2: arial, sans-serif;
$font-fam-3: "Roboto Mono", sans-serif;
$font-fam-4: "Anton", sans-serif;
$font-weight-bold: 500;
$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 54px;
$font-size-xxxl: 96px;
$highlight: rgb(100, 205, 218); 
/* $highlight: rgb(125,32,150); */
$semi-highlight: #8892b0;
/* $semi-highlight: rgb(64, 64, 64); */
/* $background-color: #020c1b; */
$background-color: rgb(0, 30, 60);
/* $background-color: whitesmoke; */

$accordion-border-color: rgb(0, 225, 255);
$box-shadow1: 10px 10px 5px 0px rgba(125, 32, 150, 0.5);
$box-shadow2: 10px 10px 5px 0px rgba(0, 225, 255, 0.5);
$box-shadow3: 40px 40px 0px 0px rgba(0, 225, 255, 0.1);